.client-home-page {
  padding: 20px;
  background-color: #f9f9f9; /* Ou toute autre couleur appropriée du design */
  overflow: hidden; /* Empêche le défilement de la page */
}

/* Ajoutez des styles de mise en page et d'espacement supplémentaires si nécessaire en fonction de la conception globale */
