.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .contact-form {
    width: 100%;
    max-width: 400px; /* Ajustez la largeur au besoin */
    background: #fff;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrage horizontal du formulaire */
  }
  
  .contact-form h2 {
    text-align: center;
    margin-bottom: 1em;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 0.5em;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form textarea {
    height: 150px; /* Ajustez la hauteur selon vos préférences */
  }
 
  .submit-btn {
    width: 100%;
    padding: 1em;
    background-color: #FFD700; /* Arrière-plan jaune pour correspondre au design */
    border: none;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1em; /* Ajout d'une marge en haut */
  }
  